<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="reset()">
    <ion-input 
    [(ngModel)]="email"
    name="email"
    type="email"
    label="email"
    required>
  </ion-input>
  <ion-button 
  expand="full"
  type="submit">
  Send Reset Email
</ion-button>
  </form>

  <ion-button expand="full" fill="clear" (click)="goToLogin()">Back to Login</ion-button>

  <p *ngIf="message" color="success">{{message}}</p>
  <p *ngIf="error" color="danger">{{error}}</p>
</ion-content>
