<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="register()">
    <ion-input 
    [(ngModel)]="email"
    name="email"
    type="email"
    label="Email"
    required>
  </ion-input>

  <ion-input
  [(ngModel)]="password"
  name="password"
  type="password"
  label="Password"
  required>
</ion-input>

<ion-button
expand="full"
type="submit"
>Register
</ion-button>

<ion-button
expand="full"
fill="clear"
(click)="gotoLogin()">
Back to Login
</ion-button>

<p *ngIf="error"color="danger">{{error}}</p>
  </form>
</ion-content>
