<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfO2MGC_q7DPoMipYgOmwhoj3Zo2cqGcA</string>
	<key>GCM_SENDER_ID</key>
	<string>516776076967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shayanamin.journalapp</string>
	<key>PROJECT_ID</key>
	<string>journal-app-72f27</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-app-72f27.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516776076967:ios:87d23b7d7a4fa318bd5d82</string>
</dict>
</plist>